.container-home{
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, var(--btnColor) 0%, rgba(15,4,51,1) 44%, var(--btnColor) 100%);
    display: flex;
    justify-content: center;
    font-family: poppins;
    flex-direction: column;
    align-items: center;
    position: relative;
    h1{
        color: #ffff;
        font-size: 10vw;
        height: 100px;
        margin-bottom: 40px;
        z-index: 2;
        animation: fadeInOut 1s forwards;
    }
    h3{
        z-index: 2;
        color: #ffff;
    }
    h2{
        color: #ffff;
        font-size: 4vw;
        height: 100px;
        margin-bottom: 40px;
        z-index: 2;
        animation: fadeInOut 1s forwards;
    }
}
.blob1{
position: absolute;
z-index: 1;
bottom: -50vh;
right: -30vw;
animation: rotate 2s forwards;
}
.blob2{
    position: absolute;
    top: -50vh;
    left: -30vw;
    z-index: 1;
    animation: rotate2 2s forwards;
    }
.btn{
    z-index: 2;
    background-color: var(--btnColor);
   mat-icon{
    margin-left: 10px;
   }
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);

    }
  }
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: rotate(180deg)
    
    }
  
    100% {
      opacity: 1;
      transform: rotate(0deg)

    }
  }
  @keyframes rotate2 {
    0% {
      opacity: 0;
      transform: rotate(-180deg)
    
    }
  
    100% {
      opacity: 1;
      transform: rotate(0deg)

    }
  }